.navbar {
    size: 20px;
}

.head{
    size: 100px;
    margin: 200px;
    color: red;
}

.config-form {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

.objects {
    position: absolute;
    left: 20px;
    top: 100px;
}